body {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 4, 29);
  color: white;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
}
ul {
  list-style: none;
}

.details-user-ul {
  display: inline-block;
  width: 500px;
  background-color: blueviolet;
  border-radius: 8px;
  text-align: justify;
  font-size: 2.5rem;
  padding: 20px;
  transition: all 0.3s ease;
}

.details-user-ul:hover {
  border: 2px solid white;
  scale: 1.1;
}
